<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% block importmap %}{{ importmap('app') }}{% endblock %}

        {% endblock %}

        <div>
            <li><a href="{{ path('home') }}">Accueil</a></li>
            <li><a href="{{ path('app_patisserie') }}">Pâtisserie</a></li>
            <li><a href="{{ path('app_boulangerie') }}">Boulangerie</a></li>
            <li><a href="{{ path('app_contact') }}">Contact</a></li>
        </div>
        <div><img id="logo" src="{{ asset("/images/logo.png") }}"/>
        {# <div> 
            <li><a href="{{ path('app_login') }}">Login</a></li>
            <li><a href="{{ path('app_register') }}">Inscription</a></li>
            <li><a href="{{ path('app_forgot_password_request') }}">Mot de passe oublié ?</a></li>
            <li><a href="{{ path('app_logout') }}">Logout</a></li>
        </div>    #}
    </head>

    <body>
        {% block body %}{% endblock %}
    </body>
</html>
